canvas{
    position: fixed;
    top: 0;
    left: 0;
}

body{
    background-color: #21252a;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #9f84ce;
}
#name, h1 {
    font-family: 'Racing Sans One', cursive;
    color: lime;
    height: 48px;
}
#navbutton{
    font-family: "lunatix", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0em;
    background-color: aquamarine;
    color: black;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
/*adobe font*/
#navbutton:hover,
#navbutton:focus{
    color: hotpink;
    background-color: radial-gradient(circle, mediumpurple 0.25em, transparent 0.25em) center/0.1em 0.1em;
    box-shadow: 4px 4px rgba(253,238,172,0.2);

}